{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
    <body class="{{body_class}}" data-source="base.twig">
        <!--[if lt IE 10]>
            <p class="browsehappy">Você está navegando em uma versão simplificada, pois seu navegador não é mais suportado.
            <br>
            Por favor, <a href="http://browsehappy.com/?locale=pt-br">atualize seu navegador</a> para ter acesso a todas as funções deste website.</p>
        <![endif]-->
        {% block header %}
        <div class="fixed header">
            <div class="mobile-disclaimer hide">
                <div class="row support-bar">
                    <div class="small-6 medium-2 small-6 columns">
                        <div class="box-logo-planeja">
                            <a href="http://planejasampa.prefeitura.sp.gov.br"><img class="logo-planeja" src="{{site.theme.link}}/assets/images/logo-planeja-sampa.svg" alt="Logo Planeja Sampa"></a>
                        </div>
                    </div>
                    <div class="small-6 medium-2 end columns text-center">
                        <a href="http://prefeitura.sp.gov.br" class="logo-prefeitura"><img src="{{site.theme.link}}/assets/images/logo-prefeitura.svg" alt="Logo Prefeitura de São Paulo"></a>
                    </div>
                </div>
                <div class="row title-bar" >
                    <div class="small-11 small-centered columns text-center">
                        <a href="{{site.url}}"><img class="logo-programa-de-metas-mobile" src="{{site.theme.link}}/assets/images/logo-programa-de-metas.png" onerror="this.src='{{site.theme.link}}/assets/images/logo-programa-de-metas.png'" alt="Logo Programa de Metas"></a>
                        <h1><a href="{{site.url}}">programa de metas 2013-2016</a></h1>
                    </div>
                </div>
                <div class="row disclaimer-content">
                    <div class="small-11 small-centered columns text-center">
                        <p>Desculpe, mas o site ainda não esta preparado para este dispositivo. <br> Deseja seguir mesmo assim?</p>
                    </div>
                    <div class="small-11 small-centered text-center">
                        <button class="icon-arrow-r" onclick="$('.mobile-disclaimer').hide();" ontouchstart="$('.mobile-disclaimer').hide();">Ir para o site</button>
                    </div>
                </div>
            </div>
            <div class="support-bar hide-for-small-only">
                <div class="row">
                    <div class="small-6 medium-2 small-6 columns">
                        <div class="box-logo-planeja">
                            <a href="http://planejasampa.prefeitura.sp.gov.br"><img class="logo-planeja" src="{{site.theme.link}}/assets/images/logo-planeja-sampa.svg" alt="Logo Planeja Sampa"></a>
                        </div>
                    </div>
                    <div class="medium-10 small-6 columns">
                        <div class="row">
                            <div class="medium-10 columns news-box">
                                <p class="slogan">O Programa de Metas faz parte da plataforma Planeja Sampa.</p>
                                <!-- <ul id="js-news1" class="js-hidden1 inline-list">
                                    <li class="news-item"><a href="http://planejasampa.prefeitura.sp.gov.br/index.php/noticia/veja-o-video-e-o-infografico-do-cppo"><span class="subject">destaques: </span>Veja o vídeo e o infográfico do Ciclo Participativo de Planejamento e Orçamento (CPPO).</a></li>
                                </ul> -->
                                <ul id="js-news" class="js-hidden">
                                    <li class="news-item"><a href="http://planejasampa.prefeitura.sp.gov.br/index.php/noticia/veja-o-video-e-o-infografico-do-cppo">Veja o vídeo e o infográfico do Ciclo Participativo de Planejamento e Orçamento</a></li>
                                    <li class="news-item"><a href="http://planejasampa.prefeitura.sp.gov.br/index.php/noticia/sistema-de-monitoramento-do-programa-de-metas-e-apresentado-no-arenanetmundial/">Sistema de Monitoramento do Programa de Metas é apresentado no #ArenaNETMundial</a></li>
                                </ul>
                            </div>
                            <div class="small-12 medium-2 end columns text-center">
                                <a href="http://prefeitura.sp.gov.br" class="logo-prefeitura"><img src="{{site.theme.link}}/assets/images/logo-prefeitura.svg" alt="Logo Prefeitura de São Paulo"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row menu-bar">
                <div class="menu-principal small-12 medium-8 hide-for-mobile-only hide-for-small-only columns">
                    <ul class="inline-list">
                        {% for item in menu.get_items %}
                                <li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_path}}">{{item.title}}</a>
                                    {% if item.get_children %}
                                        <ul class="nav-drop">
                                          {% for child in item.get_children %}
                                            <li class="nav-drop-item"><a href="{{child.get_path}}">{{child.title}}</a></li>
                                          {% endfor %}
                                        </ul>
                                     {% endif %}
                                </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="redes-sociais small-12 medium-4 columns hide-for-small-only">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                        <a class="addthis_button_tweet" tw:text="#ProgramaDeMetas | Faça o monitoramento das 123 metas definidas pela Prefeitura de São Paulo"></a>
                    </div>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-532355c417c7000b"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>

            <div class="row title-bar" >
                <div class="small-11 medium-10 small-centered columns text-center">
                    <a href="{{site.url}}"><img class="logo-programa-de-metas" src="{{site.theme.link}}/assets/images/logo-programa-de-metas.svg" alt="Logo Programa de Metas" onerror="this.onerror=null;"></a>
                    <h1><a href="{{site.url}}">programa de metas 2013-2016</a></h1>
                </div>
            </div>
        </div>
        <div class="filter-bar">
            <div class="">
                <h2><a href="{{site.url}}">Faça o monitoramento das 123 metas definidas pela Prefeitura de São Paulo para a gestão 2013 - 2016</a></h2>
            </div>
            <div class="row">
                <div class="infografico hide-for-small-only small-10 small-centered columns text-center">
                    <div class="row">
                        <div class="small-3 columns border col-1">
                            <div class="destaque-situacao">
                                <a href="{{site.url}}/?status=2#resultado" class="numero">105</a>
                                <a href="{{site.url}}/?status=2#resultado">Metas em<br/>andamento</a>
                            </div>
                        </div>
                        <div class="small-4 columns border col-2">
                            <div class="destaque-situacao">
                                <a href="{{site.url}}/?status=3#resultado" class="numero">87</a>
                                <a href="{{site.url}}/?status=3#resultado">Metas já beneficiam<br/>a população</a>
                            </div>
                        </div>
                        <div class="small-2 columns border col-3">
                            <div class="destaque-situacao">
                                <a href="{{site.url}}/?status=4#resultado" class="numero">16</a>
                                <a href="{{site.url}}/?status=4#resultado">Metas <br/>concluídas</a>
                            </div>
                        </div>
                        <div class="small-3  columns border col-4">
                            <div class="destaque-situacao">
                                <a href="{{site.url}}/?status=5#resultado" class="numero">6</a>
                                <a href="{{site.url}}/?status=5#resultado">Metas <br/>superadas</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns reload">
                            <a href="http://planejasampa.prefeitura.sp.gov.br/metas/metodologia/" target="_blank" class="button findout">Mais informações sobre o andamento do programa</a>
                        </div>

                    </div>
                </div>


                {% if slide1 or slide2 or slide3 or slide4 or slide5 or slide6 %}
                    {% set slide_options = "timer: false;slide_number:false;next_on_click:false;" %}
                {% else %}
                    {% set slide_options = "timer_speed: 6500;slide_number:false;next_on_click:false;" %}
                {% endif %}

                <div class="slideshow medium-11 hide-for-small-only small-centered columns">
                        <ul class="destaque-por-objetivos" data-orbit data-options="{{slide_options}}">
                            <li data-orbit-slide="headline-1">
                                <div class="row">
                                    <div class="small-3 columns">
                                        <i class="icon-projects_educacao"></i>
                                    </div>
                                    <div class="small-8 columns end">
                                        <h4><a href="{{site.url}}/?objetivo=2#resultado">Educação</a></h4>
                                        <p><a href="{{site.url}}/?objetivo=2#resultado">26 creches concluídas, 09 em obras e 49 em licitação. O CEU Heliópolis encontra-se em fase avançada de obras. Outros 19 CEUs já possuem terreno definido.</a></p>
                                    </div>
                                </div>
                            </li>
                            <li data-orbit-slide="headline-2" class="{{slide2}}">
                                <div class="row">
                                    <div class="small-3 columns">
                                        <i class="icon-projects_saude"></i>
                                    </div>
                                    <div class="small-8 columns end">
                                        <h4><a href="{{site.url}}/?objetivo=3#resultado">Saúde</a></h4>
                                        <p><a href="{{site.url}}/?objetivo=3#resultado">04 UBS e 06 unidades da Rede Hora Certa já entregues. A licitação do Hospital Brasilândia está em andamento, e o Hospital Parelheiros já teve sua licitação concluída.</a></p>
                                    </div>
                                </div>
                            </li>
                            <li data-orbit-slide="headline-3" class="{{slide3}}">
                                <div class="row">
                                    <div class="small-3 columns">
                                        <i class=" icon-projects_mobilidade"></i>
                                    </div>
                                    <div class="small-8 columns end">
                                        <h4><a href="{{site.url}}/?objetivo=16#resultado">Mobilidade</a></h4>
                                        <p><a href="{{site.url}}/?objetivo=16#resultado">101 km de ciclovias implantados até setembro de 2014, com 88% de aprovação pública. Primeiro pontilhão do rio Embu-Guaçu e ampliação do Terminal Itaquera entregues.</a></p>
                                    </div>
                                </div>
                            </li>
                            <li data-orbit-slide="headline-4" class="{{slide4}}">
                                <div class="row">
                                    <div class="small-3 columns">
                                        <i class=" icon-projects_habitacao"></i>
                                    </div>
                                    <div class="small-8 columns end">
                                        <h4><a href="{{site.url}}/?objetivo=5#resultado">Habitação</a></h4>
                                        <p><a href="{{site.url}}/?objetivo=5#resultado">2.703 unidades habitacionais já entregues em diversas subprefeituras. 88.650 unidades já possuem terreno definido e deverão ter início de obras em breve.</a></p>
                                    </div>
                                </div>
                            </li>
                            <li data-orbit-slide="headline-5" class="{{slide5}}">
                                <div class="row">
                                    <div class="small-3 columns">
                                        <i class=" icon-projects_espacos-publicos"></i>
                                    </div>
                                    <div class="small-8 columns end">
                                        <h4><a href="{{site.url}}/?objetivo=11#resultado">Requalificação do espaço público</a></h4>
                                        <p><a href="{{site.url}}/?objetivo=11#resultado">Mais uma meta superada: foram 71 Praças Digitais inauguradas na cidade, com conexão Wi-fi (sem fio) gratuita e de qualidade.</a></p>
                                    </div>
                                </div>
                            </li>
                            <li data-orbit-slide="headline-6" class="{{slide6}}">
                                <div class="row">
                                    <div class="small-3 columns">
                                        <i class=" icon-projects_residuos-solidos"></i>
                                    </div>
                                    <div class="small-8 columns end">
                                        <h4><a href="{{site.url}}/?objetivo=15#resultado">Seleta coletiva</a></h4>
                                        <p><a href="{{site.url}}/?objetivo=15#resultado">Duas centrais de triagem automatizadas inauguradas em Bom Retiro e Santo Amaro, triplicando a capacidade de reciclagem de lixo da cidade. 10 novos distritos beneficiados pela coleta seletiva.</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                </div>
                <div class="small-12 small-centered text-center columns" id="resultado">
                    <i class="icon-filter-arrow-left hide-for-small-only"></i>
                    <p>Use um dos filtros abaixo </p>
                    <i class="icon-filter-arrow-right hide-for-small-only"></i>
                </div>

            </div>
        </div>
        <div id="filter-options" class="row row-full">
            <div class="row">

                <div class="projetos-por-perto small-12 medium-6 columns">
                    <i class="ou hide-for-small-only">ou</i>
                    <form name="projetos-por-perto" id="projetos-por-perto" action="{{site.url}}">
                        <div class="row">
                            <div class="small-11 small-centered columns">
                                <h3>Encontre projetos próximos a você</h3>
                            </div>
                            <div class="nao-sabe-cep small-11 small-centered columns">
                                <div class="row collapse">
                                    <div class="small-9 columns">
                                        <label>
                                        <select name="subprefeitura" id="subprefeitura-topo">
                                        <option value="">Escolha uma subprefeitura</option>
                                        {% include 'partials/_options-subprefeituras.twig' %}
                                        </select>
                                        </label>
                                    </div>
                                    <div class="small-3 columns">
                                        <a href="javascript:void(0);" class="bprefeitura button postfix">Filtrar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="small-11 small-centered columns">
                                <div class="row collapse">
                                    <div class="small-9 columns">
                                        <input type="text" placeholder="Se preferir, informe seu CEP" autocomplete="off" name="input_cep" id="input_cep">
                                    </div>
                                    <div class="small-3 columns">
                                        <a href="javascript:void(0);" id="button_cep" class="button postfix">Procurar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="metas-por-objetivo small-12 medium-6 columns">
                    <form name="metas-por-objetivo" id="metas-por-objetivo" action="{{site.url}}" method="GET">
                        <div class="row">
                            <div class="small-11 small-centered columns">
                                <h3>Encontre metas por objetivos</h3>
                            </div>
                            <div class="small-11 small-centered columns">
                            <div class="row collapse">
                                <div class="small-9 columns">
                                        <label>
                                        <select name="objetivo" id="objetivo-topo">
                                            <option value="">Escolha um objetivo</option>
                                            {% include 'partials/_options-objetivos.twig' %}
                                        </select>
                                        </label>
                                    </div>
                                    <div class="small-3 columns">
                                        <a href="javascript:void(0);" class="bojetivo button postfix">Filtrar</a>
                                    </div>
                                </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if eixo or articulacao or selo %}
            {% set advanced = 'advanced' %}
        {% endif %}

        <div id="f1_container" class="hide-for-small-only {{advanced}}">
            <div id="f1_card" class="shadow">
                <div class="front face">
                    <div class="row">
                        <div class="ver-todas-as-metas small-12 columns text-center">
                            <p><img src="{{site.theme.link}}/assets/images/scroll-down.svg" alt="Role o scroll para ver mais conteúdo.">ver todas as metas</p>
                        </div>
                    </div>
                </div>
                <div class="back face center">
                    <div class="faixas">
                        <div class="medium-6 columns faixa-projeto"></div>
                        <div class="medium-6 columns faixa-meta"></div>
                    </div>
                    <div class="row">
                        <div class="filtrar-todas-as-metas  small-12 columns text-center">
                        <form name="filtros-disponiveis" id="filtros-disponiveis" method="GET" action="{{site.url}}#resultado">
                            <div class="row">
                                <div class="columns small-9">
                                    <div class="row basic-filters">
                                        <div class="small-12 medium-1 columns">
                                            <p>Filtros:</p>
                                        </div>
                                        <div class="columns small-12 medium-11">
                                            <div class="small-12 medium-3 columns">
                                                <label class="first-input">
                                                <select name="subprefeitura">
                                                <option value="" selected>subprefeitura</option>
                                                {% include 'partials/_options-subprefeituras.twig' %}
                                                </select>
                                                </label>
                                            </div>
                                            <div class="small-12 medium-3 columns">
                                                <label class="first-input">
                                                <select name="objetivo">
                                                <option value="" selected>objetivo</option>
                                                {% include 'partials/_options-objetivos.twig' %}
                                                </select>
                                                </label>
                                            </div>
                                            <div class="small-12 medium-3 columns">
                                                <label class="first-input">
                                                <select name="secretaria">
                                                <option value="" selected>secretaria</option>
                                                {% include 'partials/_options-secretarias.twig' %}
                                                </select>
                                                </label>
                                            </div>
                                            <div class="small-12 medium-3 columns">
                                                <label class="first-input">
                                                <select name="status">
                                                <option value="" selected>situação</option>
                                                <option value="1" {% if status == 1 %}selected{% endif %}>não iniciada</option>
                                                <option value="2" {% if status == 2 %}selected{% endif %}>em andamento</option>
                                                <option value="3" {% if status == 3 %}selected{% endif %}>já beneficiam a população</option>
                                                <option value="4" {% if status == 4 %}selected{% endif %}>concluída</option>
                                                <option value="5" {% if status == 5 %}selected{% endif %}>superadas</option>
                                                </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row advanced-filters">
                                        <div class="hide-for-small-only medium-1 columns">
                                            &nbsp;
                                        </div>
                                        <div class="columns small-12 medium-11">
                                            <div class="columns small-12 medium-3 ">
                                                <label class="first-input">
                                                <select name="eixo">
                                                <option value="" selected>eixo</option>
                                                {% include 'partials/_options-eixos.twig' %}
                                                </select>
                                                </label>
                                            </div>
                                            <div class="columns small-12 medium-3 ">
                                                <label class="first-input">
                                                <select name="articulacao">
                                                <option value="" selected>articulação</option>
                                                {% include 'partials/_options-articulacoes.twig' %}
                                                </select>
                                                </label>
                                            </div>
                                            <div class="columns small-12 medium-3 ">
                                                <label class="first-input">
                                                <select name="selo">
                                                <option value="" selected>selo</option>
                                                {% include 'partials/_options-selos.twig' %}
                                                </select>
                                                </label>
                                            </div>
                                            <div class="hide-for-small-only medium-3 columns">
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-buttons columns small-3">
                                    <div class="small-12 medium-4 columns">
                                        <button type="submit" class="button round tiny filter"><i class="icon-filter-black"></i> Filtrar</button>
                                    </div>
                                    <div class="small-12 medium-4 columns">
                                        <button class="clear-form button round tiny" type="button">x Limpar</button>
                                    </div>
                                    <div class="small-12 medium-4 columns end">
                                        <button class="advanced-toggle button round tiny" type="button"><i class="icon-arrow-d"></i>Mais filtros</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block content %}
            Sorry, no content
        {% endblock %}

        <footer id="footer">
            {% include 'footer.twig' %}
        </footer>
        {{ function('wp_footer') }}
    </body>
</html>
