<div class="header simple">
    <div class="support-bar">
        <div class="row">
            <div class="small-6 medium-2 small-6 columns">
                <div class="box-logo-planeja">
                    <a href="http://planejasampa.prefeitura.sp.gov.br"><img class="logo-planeja" src="{{site.theme.link}}/assets/images/logo-planeja-sampa.svg" alt="Logo Planeja Sampa"></a>
                </div>
            </div>
            <div class="medium-10 small-6 columns">
                <div class="row">
                    <div class="small-12 medium-10 hide-for-small-only columns news-box">
                        <p class="slogan">O Programa de Metas faz parte da plataforma Planeja Sampa.</p>
                        <ul id="js-news" class="js-hidden inline-list">
                            <li class="news-item"><a href="http://planejasampa.prefeitura.sp.gov.br/index.php/noticia/veja-o-video-e-o-infografico-do-cppo"><span class="subject">última notícia: </span><!--span class="date">03/04 - </span-->Veja o vídeo e o infográfico do Ciclo Participativo de Planejamento e Orçamento (CPPO).</a></li>
                        </ul>
                    </div>
                    <div class="small-12 medium-2 end columns text-center">
                        <a href="http://prefeitura.sp.gov.br" class="logo-prefeitura"><img src="{{site.theme.link}}/assets/images/logo-prefeitura.svg" alt="Logo Prefeitura de São Paulo"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row menu-bar">
        <div class="menu-principal small-12 medium-8 columns">
            <ul class="inline-list">
                {% for item in menu.get_items %}
                        <li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_path}}">{{item.title}}</a>
                            {% if item.get_children %}
                                <ul class="nav-drop">
                                  {% for child in item.get_children %}
                                    <li class="nav-drop-item"><a href="{{child.get_path}}">{{child.title}}</a></li>
                                  {% endfor %}
                                </ul>
                             {% endif %}
                        </li>
                {% endfor %}
            </ul>
        </div>
        <div class="redes-sociais small-12 medium-4 columns">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet" tw:text="Programa de Metas | Faça o monitoramento das 123 metas definidas pela Prefeitura de São Paulo para a gestão 2013 - 2016"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-532355c417c7000b"></script>
            <!-- AddThis Button END -->
        </div>
    </div>

    <div class="row title-bar" >
        <div class="small-10 small-centered columns text-center">
            <a href="{{site.url}}"><img class="logo-programa-de-metas" src="{{site.theme.link}}/assets/images/logo-programa-de-metas.svg" alt="Logo Programa de Metas"></a>
            <h1><a href="{{site.url}}">programa de metas 2013-2016</a></h1>
        </div>
    </div>

    {% if page_type == 'projetos' %}
        <div id="projects-header" class="row row-full">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <h2>Filtragem de Projetos</h2>    
                </div>
                <div class="small-12 medium-6 columns">
                    <a class="button right"><i class="icon-arrow-up"></i> Voltar para a home</a>
                </div>
            </div>
        </div>
        <div class="row row-full" id="f1_container">
            <div class="row">
                
                <div class="filtrar-todas-as-metas  small-12 columns text-center">
                <form name="filtros-disponiveis" id="filtros-disponiveis" method="GET" action="{{site.url}}#resultado">
                    <div class="row">
                        <div class="columns small-9">
                            <div class="row basic-filters">
                                <div class="small-12 medium-1 columns">
                                    <p>Filtros:</p>
                                </div>
                                <div class="columns small-12 medium-11">
                                    <div class="small-12 medium-3 columns">
                                        <label class="first-input">
                                        <select name="subprefeitura">
                                        <option value="" selected>subprefeitura</option>
                                        {% include 'partials/_options-subprefeituras.twig' %}
                                        </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-buttons columns small-3">
                            <div class="small-12 medium-6 columns">
                                <button type="submit" class="button round tiny filter"><i class="icon-filter-black"></i> Filtrar</button>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <button class="clear-form button round tiny" type="button">x Limpar</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="small-12 columns separate-bar {{page_type}}">
            &nbsp;
        </div>
    </div>
</div>
