<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
    <head>

        <meta charset="{{site.charset}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{site.description}}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% if page_title == "" %}
            <title>{{wp_title}}</title>
            <meta property="og:title" content="{{wp_title}}"/>
        {% else %}
            <title>{{page_title}} - {{wp_title}}</title>
            <meta property="og:title" content="{{page_title}} - {{wp_title}}"/>
        {% endif %}

        <meta property="og:url" content="{{site.url}}/"/>
        <meta property="og:image" content="{{site.theme.link}}/assets/images/logo_SHARE_FACEBOOK.png"/>
        <meta property="og:site_name" content="{{wp_title}}"/>
        <meta property="og:description" content="{{site.description}}"/>

        <link rel="pingback" href="{{site.pingback_url}}" />

        <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{site.theme.link}}/assets/bower_components/leaflet/dist/leaflet.css">
        <link rel="stylesheet" href="{{site.theme.link}}/assets/bower_components/jQuery-News-Ticker/styles/ticker-style.css">
        <link rel="stylesheet" href="{{site.theme.link}}/styles/main.css">

        {{function('wp_head')}}

        <script src="{{site.theme.link}}/assets/bower_components/modernizr/modernizr.js"></script>

        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
            <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
            <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <![endif]-->


    </head>
