{% set body_class = "meta" %}
{% set page_title = meta.name ~ " - Meta" %}
{% extends 'base.twig' %}

{% block header %}
{% include "header-simple.twig" with {page_type:"meta"} %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="small-12 columns nav-innerpage">
        <a href="{{site.url}}/"><i class="icon-arrow-l"></i> home / filtros</a>
    </div>
</div>

<div class="row meta-card outer-box no-resultado">
    <div class="medium-12 columns">
        <div class="small-12 medium-1 columns ordem">
            <p class="faixa"></p>
            <p class="nome">meta</p>
            <p class="numero">{{meta.id}}</p>
        </div>
        <div class="small-12 medium-7 large-8 columns titulo">
            <h3><a href="{{site.url}}/meta/{{meta.id}}">{{meta.name}}</a></h3>
            <h4>
                {% for objetivo in objetivos %}
                    {% if objetivo.id == meta.objective_id %}
                        <a href="{{site.url}}/meta/{{meta.id}}">{{objetivo.name}}</a>
                    {% endif %}
                {% endfor %}
            </h4>
            <h5>
            {% set count_sec = 0 %}
            {% for meta_secretaria in meta.secretaries %}
                {% for secretaria in secretarias %}
                    {% if secretaria.id == meta_secretaria.id %}
                        {% if count_sec > 0 %}
                            /
                        {% endif %}
                        <a href="{{site.url}}/meta/{{meta.id}}">{{secretaria.name}}</a>
                        {% set count_sec = count_sec + 1 %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </h5>
        </div>

        <div class="small-12 medium-4 large-3 small-text-center medium-text-right columns">
            <dl class="tabs tabs-options" data-tab>
                <dd class="acompanhar box-options"><a href="#meta-{{meta.id}}-acompanhar"><i class="icon-email-envelope"></i>Seguir<br> esta meta</a></dd>
                <!-- <dd class="compartilhar box-options"><a href="#meta-{{meta.id}}-detalhes"><i class="icon-share-arrow"></i>Compartilhe<br> esta meta</a></dd> -->
            </dl>
        </div>
    </div>
    <div class="tabs-content medium-12 columns">
        <div class="content active" id="meta-{{meta.id}}-detalhes">
                    <div class="medium-4 columns">
                        <div class="detalhes">
                            {% if meta.porcentagem.concluido > 100 %}
                                <div class="chart-render chart-container" id="chart-qualy-main" data-chart="{&quot;type&quot;:&quot;pie&quot;,&quot;size&quot;:&quot;large&quot;,&quot;values&quot;:[100,0]}"></div>
                            {% else %}
                                <div class="chart-render chart-container" id="chart-qualy-main" data-chart="{&quot;type&quot;:&quot;pie&quot;,&quot;size&quot;:&quot;large&quot;,&quot;values&quot;:[{{meta.porcentagem.concluido}},{{meta.porcentagem.restante}}]}"></div>
                            {% endif %}
                            <div class="status">
                                <p class="descricao"><a href="{{site.url}}/meta/{{meta.id}}">{{meta.status}}</a></p>
                                <p class="porcentagem"><a href="{{site.url}}/meta/{{meta.id}}">{{meta.porcentagem.concluido|number_format(1, ',', '.')}}%</a></p>
                            </div>
                            <a href="http://planejasampa.prefeitura.sp.gov.br/metas/metodologia/#grafico" target="_blank" class="findout">
                                ?
                                <span>Entenda como é feito este cálculo</span>
                            </a>
                        </div>
                    </div>
                    <div class="medium-8 columns">
                        <div class="chamadas">
                            <ul>
                                <li class="primeiro">{{meta.qualitative_progress_1}}</li>
                                <li>{{meta.qualitative_progress_2}}</li>
                            </ul>
                        </div>
                    </div>
        </div>
        <div class="content" id="meta-{{meta.id}}-projetos">
            <div class="medium-12 columns">
                <div class="box medium-12 columns">
                    <ul>
                        {% for projeto in meta.projects %}
                            <li class="small-6 columns"><a href="{{site.url}}/projeto/{{projeto.id}}"><i class="icon-arrow-r-bold"></i>{{projeto.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="content meta-follow" id="meta-{{meta.id}}-acompanhar">
            <div class="medium-12 columns">
                <div class="box medium-12 columns">
                    <h4>RECEBA ATUALIZAÇÕES SOBRE ESTA META POR E-MAIL</h4>
                    <input type="hidden" value="{{meta.id}}" class="meta">
                    <input type="hidden" value="{{site.url}}" class="url">
                    <div class="small-12 medium-6 columns">
                        <label>Nome
                            <input class="name" type="text" placeholder="Preencha como você quer ser chamado" />
                        </label>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <label>E-mail
                            <input class="email" type="text" placeholder="Em qual e-mail você gostaria de receber as atualizações?" />
                        </label>
                    </div>
                    <div class="small-12 medium-3 medium-offset-9 columns text-right">
                        <a class="button radius round tiny" href="javascript://" type="button"><i class="icon-email-envelope"></i> Receber notificações</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row outer-box" data-equalizer>
    <div class="small-12 columns ">
        <div class="small-12 columns">
            <div class="small-12 columns box text-center">
                <p class="title">
                    <i class="icon-text"></i>
                    <span>identidade</span>
                </p>
            </div>
            <div class="small-12 medium-3 columns box text-center" data-equalizer-watch>
                <h4>objetivo</h4>
                {% for objetivo in objetivos %}
                    {% if objetivo.id == meta.objective_id %}
                        <p class="descricao">{{objetivo.description}}</p>
                    {% endif %}
                {% endfor %}
                <h4>articulação</h4>
                {% for articulacao in articulacoes %}
                    {% if articulacao.id == meta.articulation_id %}
                        <p class="descricao">{{articulacao.name}}</p>
                    {% endif %}
                {% endfor %}
                <h4>tipos de projeto</h4>
                {% for project_type in tipos_projeto %}
                    {% if project_type.id == meta.projects[0].project_type %}
                        <p class="descricao">{{project_type.name}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="small-12 medium-7 columns box" data-equalizer-watch>
                <h4>definições dos termos técnicos</h4>
                <p class="descricao">{{meta.technically}}</p>

                <h4>observações</h4>
                <p class="descricao">{{meta.observation}}</p>
            </div>
            <div class="transversalidade small-12 medium-2 columns box" data-equalizer-watch>
            {% if transversalidade|length > 0 %}
            {% for transver in transversalidade %}
                <a href="{{transver|last}}" target="_blank" class="{{transver|first}} botao-selo">{{transver|first}}</a>
            {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="row outer-box">
    <div class="small-12 columns ">
        <div class="small-12 columns" >
            <div class="small-12 columns box text-center">
                <p class="title">
                    <i class="icon-graph-arrow"></i>
                    <span>andamento quantitativo</span>
                </p>
            </div>
            <div class="small-12 columns box">
                {% include "partials/_andamento-meta.twig" with {progresso:progresso} %}
            </div>
        </div>
    </div>
</div>




<div class="row outer-box" data-equalizer>
    <div class="small-12 columns ">
        <div class="small-12 columns">
            <div class="small-12 medium-8 columns box text-center" data-equalizer-watch>
                <div class="small-12 columns">
                    <p class="title">
                        <i class="icon-graph"></i>
                        <span>andamento qualitativo</span>
                    </p>
                </div>

                {% if
                    ((meta.qualitative_progress_3  == "") and
                    (meta.qualitative_progress_4  == "") and
                    (meta.qualitative_progress_5  == "") and
                    (meta.qualitative_progress_6  == ""))
                    %}
                    <div class="small-6 columns small-centered text-center andamento">
                        <h5>Sem destaques sobre esta meta.</h5>
                    </div>
                {% endif %}

                {% if meta.qualitative_progress_3 %}
                    <div class="small-6 columns andamento">
                        <h5>{{meta.qualitative_progress_3}}</h5>
                    </div>
                {% endif %}

                {% if meta.qualitative_progress_4 %}
                <div class="small-6 columns andamento">
                    <h5>{{meta.qualitative_progress_4}}</h5>
                </div>
                {% endif %}

                {% if meta.qualitative_progress_5 %}
                <div class="small-6 columns andamento">
                    <h5>{{meta.qualitative_progress_5}}</h5>
                </div>
                {% endif %}

                {% if meta.qualitative_progress_6 %}
                <div class="small-6 columns andamento">
                    <h5>{{meta.qualitative_progress_6}}</h5>
                </div>
                {% endif %}
            </div>
            <div class="small-12 medium-4 columns box text-center" data-equalizer-watch>
                <div class="small-12 columns" >
                    <p class="title">
                        <i class="icon-quotation"></i>
                        <span>execução orçamentária</span>
                    </p>
                </div>

                <div class="small-12 columns">
                    <h5>Custo total da meta</h5>
                    <p>R$ {{ meta.total_cost|number_format(2, ',', '.')}}</p>
                </div>

                <div class="small-12 columns">
                    <h5>Executado (Em revisão)</h5>
                    <p>R$ {{ executado|number_format(2, ',', '.')}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row outer-box" data-equalizer>
    <div class="small-12 columns ">
        <div class="small-12 columns">
            <div class="small-12 columns box text-center">
                <p class="title">
                    <i class="icon-folder"></i>
                    <span>projetos</span>
                </p>
            </div>
            <div class="hide-only-small medium-6 columns box" data-equalizer-watch>
                <div class="map-render" id="map-projects" style="height:400px;" data-source="#list-projects"></div>
            </div>

            <div id="list-filter" class="small-12 medium-6 columns box" data-equalizer-watch>
                <div class="row">

                    <div class="columns small-12 medium-6">
                        <select class="subprefeitura">
                            <option value="">Subprefeitura</option>
                            {% for subprefeitura in subprefeituras %}
                            <option value="{{subprefeitura.name}}">{{subprefeitura.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="columns small-12 medium-6">
                        <select name="status">
                            <option value="" selected>Situação</option>
                            <option value="não iniciada">não iniciada</option>
                            <option value="em andamento">em andamento</option>
                            <option value="já beneficiam a população">já beneficiam a população</option>
                            <option value="concluída">concluída</option>
                            <option value="superadas">superadas</option>
                        </select>
                    </div>

                    <!-- <input class="search" type="text"></input> -->

                </div>
                <ul id="list-projects" class="list">
                    {% for projeto in meta.projects %}
                    {% if projeto.gps_lat != 0 and projeto.gps_lat != 0 %}
                        {% set gps = 'data-latlng="' ~ projeto.gps_lat  ~ ',' ~ projeto.gps_long ~ '"' %}
                    {% else %}
                        {% set gps = '' %}
                    {% endif %}

                    <li class="small-12 columns">
                        <a href="{{site.url}}/projeto/{{projeto.id}}" {{gps}}>
                            <i class="icon-arrow-r-bold"></i>
                            <span class="project">{{projeto.name}}</span>
                            <p class="data">
                                <i class="subprefecture"> -
                                    {% for subpref in projeto.prefectures %}
                                        {{subpref.name}},
                                    {% endfor %} -
                                </i>
                                <i class="status">
                                    {{projeto.status.descricao}}
                                    {#% for status in projeto.status %}
                                        {{status.descricao}},
                                    {% endfor %#}
                                </i>
                            </p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
