{% set body_class = "projeto" %}
{% set page_title = projeto.name ~ " - Projeto" %}
{% extends 'base.twig' %}

{% block header %}
{% include "header-simple.twig" with {page_type:"projeto"} %}
{% endblock %}

{% block content %}


<div class="row">
    <div class="small-12 columns nav-innerpage">
        <a href="{{site.url}}/"><i class="icon-arrow-l"></i> home / filtros</a>
    </div>
</div>

<div class="row">
    <div class="small-12 columns nav-innerpage">
        <a class="small-12 medium-8 columns" href="{{site.url}}/meta/{{projeto.goal_id}}"><i class="icon-arrow-l"></i> META {{projeto.goal_id}} - {{projeto.goal.name}}</a>
        <div class="small-12 medium-4 columns">
            <form name="projetos-relacionados"><label>
            <select name="projetos" id="projetos-topo">
            <option value="">Mais projetos dessa meta</option>
            {% include 'partials/_options-projetos.twig' with {projetos:meta_relacionada.projects} %}
            </select>
            </label></form>
        </div>
    </div>
</div>


<div class="row projeto-card outer-box" data-equalizer>
    <div class="medium-12 columns">
        <div class="small-12 medium-11 columns titulo">
            <span class="type-page">projeto</span>
            <h1><i class="icon-arrow-r-bold"></i>{{projeto.name}}</h1>
        </div>

        <div class="small-12 medium-1 text-right small-text-center columns">
            <!-- <dl class="tabs tabs-options">
                <dd class="compartilhar box-options"><a href="#meta-{{meta.id}}-detalhes"><i class="icon-share-arrow"></i>Compartilhe<br> esta meta</a></dd>
            </dl> -->
        </div>
    </div>
    <div class="medium-12 columns">
        <div class="small-12 medium-9 columns">
            <div class="box small-12 medium-4 columns" data-equalizer-watch>
                <h3>tipo</h3>
                {% for project_type in tipos_projeto %}
                    {% if project_type.id == projeto.project_type %}
                        <p class="descricao">{{project_type.name}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="box small-12 medium-4 columns" data-equalizer-watch>
                <h3>subprefeitura</h3>
                <p class="descricao">
                    {% for subprefeitura in projeto.prefectures %}
                        {{subprefeitura.name}}{% if loop.index < loop.length %}, {% endif %}
                    {% endfor %}
            </div>
            <div class="box small-12 medium-4 columns" data-equalizer-watch>
                <h3>distrito</h3>
                <p class="descricao">{{projeto.district}}</p>
            </div>
        </div>
        <div class="small-12 medium-3 columns status" data-equalizer-watch>
            <div class="box small-12 columns text-center">
                <p>{{status.descricao}}&nbsp;</p>
                {% if status == '-' %}
                    {{status}}
                {% else %}
                    <h5>{{status.absoluto | number_format(1, ',', '.')}}%</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include "partials/_andamento-projeto.twig" with {projeto:projeto, progresso:progresso, fases_projeto:fases_projeto} %}

<div class="row outer-box" data-equalizer>
    <div class="small-12 columns ">
        <div class="small-12 columns">
            <div class="small-12 columns box text-center" data-equalizer-watch>
                <div class="small-12 columns">
                    <p class="title">
                        <i class="icon-graph"></i>
                        <span>andamento qualitativo</span>
                    </p>
                </div>
                <div class="row">
                {% if
                    ((projeto.qualitative_progress_3  == "") and
                    (projeto.qualitative_progress_4  == "") and
                    (projeto.qualitative_progress_5  == "") and
                    (projeto.qualitative_progress_6  == ""))
                    %}
                    <div class="small-6 columns small-centered text-center andamento">
                        <h5>Sem destaques sobre este projeto.</h5>
                    </div>
                {% endif %}


                {% if projeto.qualitative_progress_3 != "" %}
                    <div class="small-6 columns small-centered text-center andamento">
                        <h5>{{projeto.qualitative_progress_3}}</h5>
                    </div>
                {% endif %}

                {% if projeto.qualitative_progress_4 != "" %}
                <div class="small-6 columns small-centered text-center andamento">
                    <h5>{{projeto.qualitative_progress_4}}</h5>
                </div>
                {% endif %}

                {% if projeto.qualitative_progress_5 != "" %}
                <div class="small-6 columns small-centered text-center andamento">
                    <h5>{{projeto.qualitative_progress_5}}</h5>
                </div>
                {% endif %}

                {% if projeto.qualitative_progress_6 != "" %}
                <div class="small-6 columns small-centered text-center andamento">
                    <h5>{{projeto.qualitative_progress_6}}</h5>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>







<div class="row outer-box" data-equalizer>
    <div class="small-12 columns ">
        <div class="small-12 columns">
            <div class="small-12 columns box text-center" data-equalizer-watch>
                <div class="small-12 columns">
                    <p class="title">
                        <i class="icon-quotation"></i>
                        <span>execução orçamentária </span>
                    </p>
                </div>

                <div class="text-center cronograma">
                    <div class="row anos">
                        <div class="small-12 medium-2 columns"></div>
                        <div class="small-12 medium-3 columns">2013 (Em revisão)</div>
                        <div class="small-12 medium-3 columns">2014</div>
                        <div class="small-12 medium-2 columns">2015</div>
                        <div class="small-12 medium-2 columns">2016</div>
                    </div>
                    <div class="entregue row">
                        <div class="small-12 medium-2 columns"><h3>EXECUTADO</h3></div>
                        {% if projeto.budget_executed > 0 %}
                        {% set budget = 'R$ ' ~ projeto.budget_executed|number_format(2, ',', '.') %}
                        {% else %}
                        {% set budget = 'Sem execução orçamentária no ano' %}
                        {% endif %}
                        <div class="small-12 medium-3 valor columns">{{budget}}</div>
                        <div class="small-12 medium-7 columns"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="row outer-box" data-equalizer>
    <div class="small-12 columns ">
        <div class="small-12 columns">
            <div class="small-12 columns box text-center" data-equalizer-watch>
                <div class="small-12 columns">
                    <p class="title">
                    <i class="icon-plot-full"></i>
                    <span>local</span>
                </p>
                </div>

                {% if projeto.gps_lat != "" and projeto.gps_lat != 0 %}
                <div class="small-12 columns">
                    <div class="map-render" id="map-local" style="height:470px;" data-source="#project-local"></div>
                </div>
                {% endif %}

                <div id="project-local">
                    <p data-latlng="{{projeto.gps_lat}},{{projeto.gps_long}}">Endereço: {{projeto.address}}</p>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}
