{% set body_class = "projetos" %}
{% set page_title = "Projetos" %}
{% extends 'base.twig' %}

{% block header %}
{% include "header-simple.twig" with {page_type:"projetos"} %}
<script src='//api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
<link href='//api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />

<script src='{{site.theme.link}}/assets/bower_components/leaflet.markercluster/dist/leaflet.markercluster.js'></script>
<link href='{{site.theme.link}}/assets/bower_components/leaflet.markercluster/dist/MarkerCluster.css' rel='stylesheet' />
<link href='{{site.theme.link}}/assets/bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css' rel='stylesheet' />

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js'></script>

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/Leaflet.fullscreen.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/leaflet.fullscreen.css' rel='stylesheet' />

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />

{% endblock %}

{% block content %}
    <div class="row map-container">
        <div class="small-12 columns">
            <div class="projects-map-render" id="projects-map-render"></div>
        </div>
    </div>

    <div class="legendas-container">
        <div class="legendas">
            <div class="row green">
                <div class="small-1 columns">
                    <img src="{{template_uri}}/assets/images/projetos_plot_definido.png">
                </div>
                <div class="small-10 first columns">
                    Local definido
                </div>
            </div>
            <div class="row light-green">
                <div class="small-1 columns">
                    <img src="{{template_uri}}/assets/images/projetos_plot_naodefinido.png">
                </div>
                <div class="small-10 columns">
                    Local em definição
                </div>
            </div>
            <div class="row gray">
                <div class="small-1 columns">
                    <img src="{{template_uri}}/assets/images/projetos_plot_cidade.png">
                </div>
                <div class="small-10 columns">
                    Abrange toda a cidade
                </div>
            </div>
            <div class="row sepia last-row">
                <div class="small-1 columns">
                    <img src="{{template_uri}}/assets/images/projetos_plot_sub.png">
                </div>
                <div class="small-10 columns">
                    Abrange a subprefeitura
                </div>
            </div>

        </div>
    </div>

{% endblock %}
